@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-kumbh text-neutral-very-dark-blue
    }
}

* {
    -webkit-tap-highlight-color: transparent;
}

.slide {
    opacity: 0;
    transition: all ease 0.3s;
    transform: scale(0.9);
}

.active {
    opacity: 1;
    transition: all ease 0.3s;
    transform: scale(1);
}